<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1052">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <title>Divvy</title>

    <!-- Custom styles for this template -->
    <script src="//use.typekit.net/ndu1ixv.js"></script>
    <script type="text/javascript">
      try{Typekit.load();}catch(e){}
    </script>

    <script type="text/javascript">
      window.DDATA = {};
      window.DDATA.csrftoken = "";
    </script>
    {% block extrahead %}
    {% endblock %}

    <link href="/static/vendor/jquery-ui/themes/start/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {# <link  href="http://fotorama.s3.amazonaws.com/4.5.2/fotorama.css" rel="stylesheet"> #}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    {% include "views/base_blocks/header.html" %}

    {% block content %}{% endblock %}

    {% include "views/base_blocks/footer.html" %}

    {% block js %}
        <script src="/static/vendor/requirejs/require.js" data-main="/static/js/main"></script>
        {# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
        {# <script src="http://fotorama.s3.amazonaws.com/4.5.2/fotorama.js"></script> #}
    {% endblock %}

    {% include "views/base_blocks/counters.html" %}
  </body>
</html>
