*.log
*.pot
*.pyc
local_settings.py
server_settings.py
*.sqlite
*.TODO
*.log.*
*.pid
*.bat
.idea/
debug/
env
divvy.db
local_fixtures/
media/
static/
public/node_modules/
public/bower_components/
stormcrew/templates/views/
