*.log
*.pot
*.pyc
local_settings.py
server_settings.py
*.sqlite
*.TODO
*.log.*
*.pid
*.bat
.idea/
debug/
env
divvy.db
local_fixtures/
media/
static/
pid/
public/node_modules/
stormcrew/templates/views/
