.footer
  .footer-links
    a.link--style-white(href="#") Путешествия
    a.link--style-white(href="#") Как это работает
    a.link--style-white(href="#") Создание путешествия
    a.link--style-white(href="#") Помощь
    a.link--style-white(href="#") Обратная связь

  .footer-copyright
    span &copy; 2014 divvy.travel
    br
    span.footer-copyright-design
      | Дизайн – 
      a(href="#") Влад Мороз