.header
  .header-wrap
    a.header-logo(href="/")
      img(src="/static/img/logo-white.png")
    .header-nav
      a.header-nav-item(href="index.html") Путешествия
      a.header-nav-item(href="#") Как это работает
      a.header-nav-item(href="#") Создание путешествия
      span(data-component="facebook-login", data-is-authenticated="", data-type-white="true")
