html(lang='ru-RU')
  head
    meta(charset='utf-8')
    title mass.travel
    link(rel='stylesheet', media='screen', href='/static/styles/index.css')

    script(src='//use.typekit.net/ndu1ixv.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}

    script(src='/static/js/index.js')
    
    script(type='text/javascript').
      require("utils").init();

  body
    .promo
      .header
        .header-color-layout
        .header-wrap
          a.header-logo(href="/")
            img(src="/static/img/logo.png")
          .header-nav
            a.header-nav-item(href="#") Путешествия
            a.header-nav-item(href="#") Как это работает
            a#promo-create-trip.header-nav-item(href="#") Создание путешествия
            span(data-component="facebook-login", data-is-authenticated="")
      .promo-content
        div.promo-content-title Путешествуйте в хорошей компании
        div(data-component="promo")
    div(data-component="main-page")
    div(data-component="blog")
    include ./../includes/footer

