.arrow-up, .arrow-down
  display inline-block
  width 15px
  height 9px

.arrow-up
  background-image url("/static/img/arrow-up-thin.png")

.arrow-down
  background-image url("/static/img/arrow-down-thin.png")
