.calendar-black, .calendar-blue
  display inline-block
  margin-right 6px
  width 17px
  height 15px

.calendar-black
  background-image url("/static/img/calendar-black.png")

.calendar-blue
  background-image url("/static/img/calendar-blue.png")
