.checkbox
  padding-bottom 6px

  .checkbox-label
    font-size 13px
    color rgba(0, 0, 0, 0.9)
    padding-left 6px

.checkbox-thin
  .checkbox-label
    font-size 11px

.checkbox-input
    display inline-block
    vertical-align middle
    margin 0
    padding 0
    width 18px
    height 18px
    background url(/static/img/checkbox.png) no-repeat
    border none
    cursor pointer

.checkbox-input
  background-position -20px 0px

.checkbox-input.hover
  background-position -20px 0

.checkbox-input.checked
  background-position -40px 0

.checkbox-input.disabled
  background-position -60px 0
  cursor default

.checkbox-input.checked.disabled
  background-position -80px 0


/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .checkbox-input {
        background-image: url(divvy@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}
