.date-input
  position relative

  .button
    display block
    width auto

  .date-input--datepicker
    width 0px
    height 28px
    padding 0px
    margin 0px
    border-width 0px
    box-shadow none
