.facebook-button
  position relative
  margin-left 10px
  background #4862a3
  padding 9px 8px 9px 6px
  color white
  border-radius 3px
  font-size 13px
  font-weight 200
  cursor pointer

  &:hover
    background #3d528a

  .facebook-button-logo
    position relative
    top 6px
    display inline-block
    width 21px
    height 21px
    margin-right 6px
    
    background-image url("/static/img/facebook-logo.png")

  &.facebook-button-white
    background white
    color #4862a3
    
    .facebook-button-logo
      background-image url("/static/img/facebook-logo-color.png")

    &:hover
      color #3d528a
      .facebook-button-logo
        background-image url("/static/img/facebook-logo-color-hover.png")
  
    