.icon-download
  width 13px
  height 18px
  background-image url("/static/img/icon-download.png")
  display inline-block
  background-repeat no-repeat

.icon-calendar-blue
  width 17px
  height 15px
  background-image url("/static/img/calendar-blue.png")
  display inline-block
  background-repeat no-repeat
