a
  font-family pragmatica-web
  font-size 13px
  color #31b9da
  text-decoration none

.link--style-white
  color white

.link:hover
  color #2a8ab0

.link--style-red
  color #f2555d
  
  &:hover
    color #d13441