.tag
  margin-right 3px
  padding 4px 5px

  background rgba(49, 185, 218, 0.15)
  border 1px solid rgba(49, 185, 218, 0.6)
  border-radius 3px

  font-size 11px
  line-height 18px
  color #31b9da

  &:hover
    border 1px solid rgba(49, 185, 218, 0.7)
    background rgba(49, 185, 218, 0.25)
