.textarea
  .textarea-element
    width 152px
    padding 9px
    box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.25)
    border-radius 3px
    border-width 0px

    &::-webkit-input-placeholder
      color rgba(0, 0, 0, 0.4)
      font-size 13px

    &.textarea-element--size-big
      width 298px

    &.textarea-element--size-full
      width 100%

      &::-webkit-input-placeholder
        font-size 15px

    &.textarea-element--height-258
      height 234px

    &.textarea-element--height-74
      height 74px

    &.textarea-element--height-102
      height 102px
