.travellers
  .travellers-item
    height 90px
    padding 6px 18px

    cursor pointer

    @clearfix()

    &:hover
      background rgba(49, 185, 218, 0.09)

    &.travellers-item-active
      background rgba(49, 185, 218, 0.15)

      &:hover
        background rgba(49, 185, 218, 0.25)

    .travellers-item-icon
      float left

      img
        width 90px
        height 90px

    .travellers-item-info
      float left
      padding-left 12px
      font-size 13px
      width 174px

      .travellers-item-info-wrap
        display table
        height 90px
        
        .travellers-item-info-wrap-align
          width 174px
          display table-cell
          vertical-align middle

          a
            display block
            font-size 15px
            line-height 21px

          span
            display block
            line-height 18px

  .travellers-next
    margin-top 12px
    padding 0px 18px
