.travellers
  margin-bottom 15px

  .travellers-item
    height 90px
    margin-bottom 12px

    @clearfix()

    .travellers-item-icon
      float left

      img
        width 90px
        height 90px

    .travellers-item-info
      float left
      padding 0px 12px
      font-size 13px

      .travellers-item-info-wrap
        display table
        height 90px
        
        .travellers-item-info-wrap-align
          width 174px
          display table-cell
          vertical-align middle

          a
            display block
            font-size 15px
            line-height 21px

          span
            display block
            line-height 18px
