.travellers-list
  position relative
  height 95px
  overflow hidden

  .travellers-list-items
    position absolute
    z-index 1

  .travellers-list-item-icon
    float left
    margin 0px 3px 3px 0px
    background #f9f9f9
    
    img
      width 58px
      height 58px

  .travellers-list-prev, .travellers-list-next
    position absolute
    width 100%
    height 16px
    padding-top 8px
    background rgba(255, 255, 255, 0.7)
    text-align center
    cursor pointer
    z-index 2

  .travellers-list-prev
    top 0px

  .travellers-list-next
    bottom 0px
