.trip-detail
  padding 24px 36px

  .trip-detail-title
    font-size 33px
    font-family pragmatica-web
    font-weight 200
    color rgba(0, 0, 0, 0.9)

  .trip-detail-tour
    margin 12px 0px 16px 0px
    
    span, i
      font-size 21px
      font-family pragmatica-web
      color rgba(0, 0, 0, 0.7)

    i
      font-family Arial

  .trip-detail-gallery
    margin-top 16px
    margin-bottom 18px

    .trip-detail-gallery-main
      max-width 600px
      max-height 400px

    .trip-detail-gallery-additional
      img
        height 60px
        margin 3px 0px 0px 3px

  .trip-detail-description
    font-size 15px
    color rgba(0, 0, 0, 0.9)

.trip-detail-sidebar
  .trip-detail-sidebar-block
    padding 16px 18px 14px 18px
    border-bottom 1px solid #e5e5e5
    
  .trip-detail-sidebar-period
    font-size 21px
    font-family pragmatica-web
    color rgba(0, 0, 0, 0.9)

  .trip-detail-sidebar-date
    margin-top 10px
    font-size 13px
    color rgba(0, 0, 0, 0.7)
