.trips-filter
  padding 28px 36px 28px 36px
  border-bottom 1px solid #e5e5e5
  
  .trips-filter-container-column
    width 180px
    display inline-block
    margin-right 30px
    vertical-align top
    
    &:last-child
      margin-right 0px

    .trips-filter-or-separator
      margin 6px 0px
      text-align center
      font-size 10px
      color rgba(0, 0, 0, 0.7)

    .trips-filter-flight
      margin 12px 0px 0px 10px

    .trips-filter-groups-title
      margin-bottom 6px
      text-align center
      font-size 10px
      font-weight bold

    .trips-filter-groups
      .button
        margin-right 4px

.trips-filter-category
  border-bottom 1px solid #e5e5e5
  padding 12px 36px 12px 29px

.trips-traveller-filter
  padding-top 21px
  padding-bottom 21px
