.trips-filter
  padding 28px 36px 28px 36px
  border-bottom 1px solid #e5e5e5
  
  .trips-filter-container-column
    width 180px
    display inline-block
    margin-right 30px
    vertical-align top
    
    &:last-child
      margin-right 0px

    .trips-filter-or-separator
      margin 6px 0px
      text-align center
      font-size 10px
      color rgba(0, 0, 0, 0.7)

    .trips-filter-flight
      margin 12px 0px 0px 10px

    .trips-filter-groups-title
      margin-bottom 6px
      text-align center
      font-size 10px
      font-weight bold

    .trips-filter-groups
      .button
        margin-right 4px

  .trips-filter-container-column-color
    .ui-slider
      background linear-gradient(to right, #24c9f2 0%, #f26161 42%)

.trips-filter-category
  border-bottom 1px solid #e5e5e5
  padding 12px 36px 12px 29px

  .trips-filter-category-all
    margin 12px 0px 6px 0px


  .sub-category
    margin-top 10px

    @clearfix()

    ul
      float left
      width 490px

      li
        list-style none
        float left
        width 122px
        
        a
          margin-bottom 1px

.trips-traveller-filter
  padding-top 21px
  padding-bottom 21px
  
  .trips-traveller-filter-title
    color #e53939
