{% extends "base.html" %}

{% block content %}
  <div class="create-trip-page require-js-app" data-params='{"name":"create"}' id="create_trip_page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-layout">
            <div class="form-layout-block">

              <div class="general-block header-block border-b">
                <h1>Новое некоммерческое путешествие</h1>
                <a href="#" class='underline'><span class='normalize'>Новое коммерческое путешествие</span></a>
              </div>

              <div class="" id="main_form"></div>

            </div>
          </div>

          <div class="side-layout">
            <div class="alerts" id="alerts_block">
              
              <div class="alert alert-bal" style="display:none;">
                <div class="title">Понятный заголовок</div>
                <p>Например, «Яхтинг на Карибах».</p>
                <p>Понятный заголовок поможет вам быстро собрать группу. В заголовке содержится информация о формате и сути путешествия, а не его оценка.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
