{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Создание поездки{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui.css' %}">
{% endblock css %}

{% block content %}
    <form enctype="multipart/form-data" class="form-horizontal form-trip" method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            {% if fill_test_data %}
                <div><a href="#" id="fill_test_data">Заполнить тестовыми данными</a></div>
            {% endif %}
            <h1 class="align-center">{% block header %}Создать поездку ({{ price_type }}, {{ category|lower }}){% endblock %}</h1>
                {% include "trip/partials/form_fields.html" with form=form form_show_labels=True form_show_errors=True %}

            {% block additional_fields %}{% endblock additional_fields %}

            {% block image_upload %}
              <br />
              <span class="btn btn-success fileinput-button">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Загрузить фотографии</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input id="fileupload" type="file" name="files[]" multiple>
              </span>
            {% endblock image_upload %}
              <!-- The container for the uploaded files -->
              <div id="files" class="files"></div>
        </div>
    </div>
    {% for formset in inlines %}
        <div>
            {% if forloop.first %}
                {% include "partials/formsets/non_formset_errors.html" %}
            {% endif %}
            {{ formset.management_form }}
                {% for inline_form in formset %}
                    {% if forloop.first %}
                        <div class="row inline_title">{{ inline_form.show_title }}</div>
                        {% include "partials/formsets/errors.html" %}
            <div {% if formset.is_many %}id="{{ formset.id_for_many }}"{% endif %} class="inline_point_row">
                    {% endif %}
                    {% if inline_form.is_many %}
                <div class="row inline_count_title">{{ inline_form.show_title }} - {{ forloop.counter }}</div>
                    {% endif %}
                <div class="row inline_form_row">
                    {# form fields #}
                    {% with form_show_labels=True form_show_errors=True %}
                        {% include "partials/forms/errors.html" with form=inline_form %}

                        {% for field in inline_form %}
                            {% if forloop.first %}
                                <div class="col-lg-6">
                            {% endif %}
                            {% if not field.name in form.manual_fields %}
                                {% include "trip/partials/field.html" %}
                            {% endif %}
                            {% if forloop.first %}
                                </div><div class="col-lg-4">
                            {% endif %}
                        {% endfor %}
                            </div>

                    {% endwith %}
                    {# end form fields #}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
              <div class="control-group create-submit" style="text-align:center;">
                <div class="controls">
                  <input type="submit" class="btn btn-primary" value="{% block submit_text %}Создать поездку{% endblock %}"/>
                  {% block actions %}{% endblock actions %}
                </div>
              </div>
        </div>
    </div>
    </form>

{% endblock %}

{% block javascript %}
    {{ block.super }}


    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    {% if cache_bootstrap %}
        <script src="{% static 'js/cache/load-image.min.js' %}"></script>
        <script src="{% static 'js/cache/canvas-to-blob.min.js' %}"></script>
    {% else %}
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    {% endif %}
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static 'js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static 'js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{% static 'js/jquery.fileupload-audio.js' %}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{% static 'js/jquery.fileupload-video.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'js/jquery.fileupload-validate.js' %}"></script>

    <script src="{% static 'js/dynamic-formset/jquery.formset.custom.js' %}"></script>
    <script>
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        $('#fileupload').fileupload({
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true,
            replaceFileInput: false
        }).on('fileuploadadd', function (e, data) {
            data.context = $('<div/>').addClass('fpreview').appendTo('#files');
            $.each(data.files, function (index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                file = data.files[index],
                node = $(data.context.children()[index]);
            if (file.preview) {
                node
                    .prepend('<br>')
                    .prepend(file.preview);
            }
            if (file.error) {
                node
                    .append('<br>')
                    .append(file.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                var link = $('<a>')
                    .attr('target', '_blank')
                    .prop('href', file.url);
                $(data.context.children()[index])
                    .wrap(link);
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.result.files, function (index, file) {
                var error = $('<span/>').text(file.error);
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            });
        }).on('click', function (e, data) {
          $("#files").children().remove();
          $(".fileinput-button span").text("Загрузить фотографии (заново) ...")
        }).prop('disabled', !$.support.fileInput)
          .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    </script>


    <script type="text/javascript">
        $('#{{ form.start_date.auto_id }}').datepicker({
          format: 'dd.mm.yyyy',
          weekStart: 1,
          autoclose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
        $('#{{ form.end_date.auto_id }}').datepicker({
          format: 'dd.mm.yyyy',
          weekStart: 1,
          autoclose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
        $('#{{ form.end_people_date.auto_id }}').datepicker({
          format: 'dd.mm.yyyy',
          weekStart: 1,
          autoclose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    </script>
    <script type="text/javascript">
       $(function() {
         {% for formset in inlines %}
           {% if formset.is_many %}
               $('#{{ formset.id_for_many }}').formset({
                    prefix: '{{ formset.custom_prefix }}',
                    min_num: 1,
                    formCssClass: '{{ formset.form_css_class }}',
                    headerCssClass: 'inline_count_title',
                    addText: 'Добавить еще',
                    deleteText: 'Удалить',
                });
           {% endif %}
         {% endfor %}
       })
    </script>

    {% if fill_test_data %}
        <script type="text/javascript">
            $('#fill_test_data').click(function(){
                $('#{{form.title.auto_id}}').val('test_trip');
                $('#{{form.start_date.auto_id}}').val('22.12.2013');
                $('#{{form.end_date.auto_id}}').val('28.12.2013');
                $('#{{form.end_people_date.auto_id}}').val('01.12.2013');
                $('#{{form.country.auto_id}}').val('Россия');
                $('#{{form.city.auto_id}}').val('Москва');
                $('#{{form.price.auto_id}}').val('550');
                $('#{{form.includes.auto_id}}').val('Все');
                $('#{{form.people_count.auto_id}}').val('10');
                $('#{{form.people_max_count.auto_id}}').val('12');
                $('#{{form.descr_main.auto_id}}').val('Бла бла');
                return false;
            })
        </script>
    {% endif %}
{% endblock javascript %}
