{% extends "base.html" %}
{% load crispy_forms_field %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'image-picker/image-picker.css' %}">
  <style type="text/css">
        a.prev, a.next {
            background: url({% static 'caroufredsel/miscellaneous_sprite.png' %}) no-repeat transparent;
            width: 45px;
            height: 50px;
            display: block;
            position: absolute;
            top: 85px;
        }
        a.prev {            left: -22px;
                            background-position: 0 0; }
        a.prev:hover {      background-position: 0 -50px; }
        a.prev.disabled {   background-position: 0 -100px !important;  }
        a.next {            right: -22px;
                            background-position: -50px 0; }
        a.next:hover {      background-position: -50px -50px; }
        a.next.disabled {   background-position: -50px -100px !important;  }
        a.prev.disabled, a.next.disabled {
            cursor: default;
        }

        a.prev span, a.next span {
            display: none;
        }
        .clearfix {
            float: none;
            clear: both;
        }

  </style>
{% endblock css %}

{% block content %}
    <div class="center-block">
        <h1>Вписаться в поездку</h1>
    </div>
    <div class="filter-form-header">
        <h3>Укажите</h3>
    </div>
    <form class="form-inline" method="post" action="">
        {% csrf_token %}
        {% include "partials/forms/errors.html" %}

        <div class="row align-center">
            {% with form.month_year as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Когда{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            <div class="form-group" style="vertical-align: top;">
                <span>или</span>
            </div>

            {% with form.country as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Куда{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}
        </div>

        <div class="filter-form-header">
            <h3>Найдите компанию</h3>
        </div>

        <div class="row align-center">
            {% with form.gender as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Пол{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            <div style="display:inline-block; width: 50px;"></div>

            {% with form.age_from as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %} age_filter">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Возраст от{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            {% with form.age_to as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %} age_filter">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Возраст до{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}
        </div>


        <div class="filter-form-header">
            <h3>Подходят</h3>
        </div>

        {% with form.users as field %}
            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
            <div class="users-list">
                {% if form.users.field.choices.queryset|length %}
                <select id="{{ field.auto_id }}" class="image-picker show-html" name="users" style="display:none;">
                    <option value=""></option>
                    {% for choice in form.users.field.choices.queryset %}
                      <option data-img-src="{{ choice.get_avatar_url }}" value="{{choice.pk}}"
                      {%if choice in selected_users %} selected="selected"{%endif%}
                      >{{ choice.get_full_name }}</option>
                    {% endfor %}
                </select>
                <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
                <a class="next" id="foo2_next" href="#"><span>next</span></a>
                {% else %}
                    <h4 style="text-align: center;color:#A7A3A3;margin-top: 100px;">
                        Не найдено
                    </h4>
                {% endif %}
            </div>
        {% endwith %}



        <div class="control-group align-center" style="margin-top:10px;">
          <div class="controls">
            <input type="submit" class="btn btn-primary" value="Подобрать"/>
          </div>
        </div>
    </form>

    <div class="filter-form-header">
        <h3>Впишитесь в поездку!</h3>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th>Даты</th>
            <th>Где</th>
            <th>Что за поездка</th>
            <th>Бюджет</th>
            <th>Участвуют</th>
          </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
              <tr>
                <td>
                    <a href="{{ trip.get_absolute_url}}">{{ trip.start_date|date:"j E" }} - {{ trip.end_date|date:"j E" }}</a>
                </td>
                <td>
                    <a href="{{ trip.get_absolute_url}}">{{ trip.city }}</a>
                </td>
                <td>
                    <a href="{{ trip.get_absolute_url}}">{{ trip.title }}</a>
                </td>
                <td>
                    {{ trip.price }} {{ trip.get_currency_display }}
                </td>
                <td>{{trip.count_all_people}} человек {% if trip.count_male or trip.count_female %}({% endif %}{% if trip.count_male %}{{trip.count_male}}м{% endif %}{% if trip.count_male and trip.count_female %} {% endif %}{% if trip.count_female %}{{trip.count_female}}ж{% endif %}{% if trip.count_male or trip.count_female %}){% endif %}</td>
              </tr>
            {% endfor %}
          <tr>
        </tbody>
    </table>
{% endblock content %}


{% block javascript %}
    {{ block.super }}

    <script src="{% static 'image-picker/image-picker.js' %}"></script>
    <script src="{% static 'caroufredsel/jquery.carouFredSel-6.2.1.js' %}"></script>
    <script src="{% static 'js/filter_update.js' %}"></script>

    <script type="text/javascript">

        $('#id_month_year').datepicker({
            format: "mm.yyyy",
            viewMode: "months",
            minViewMode: "months",
          autoclose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
            // $(this).post_form_on_change();
        });


        $("#{{ form.users.auto_id }}").imagepicker({
          hide_select : true,
          show_label  : false,
          initialized: function(){
            $('.thumbnails').hide();
            $('.image_picker_image').load(function(){
                $('.thumbnails').show();
                $('.thumbnails').carouFredSel({
                    circular: false,
                    infinite: false,
                    auto    : false,
                    width   : "100%",
                    align   : "center",
                    prev    : {
                        button  : "#foo2_prev",
                        key     : "left"
                    },
                    next    : {
                        button  : "#foo2_next",
                        key     : "right"
                    },
                    // pagination  : "#foo2_pag"
                });
            });
          }
        })

        // $( "#id_where" ).change(function() {
        //   alert( "Handler for .change() called." );
        // });
    </script>


{% endblock javascript %}
