{% extends "base.html" %}
{% load crispy_forms_field %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'image-picker/image-picker.css' %}">
{% endblock css %}

{% block content %}
    <div class="center-block">
        <h1>Вписаться в поездку</h1>
    </div>
    <div class="filter-form-header">
        <h3>Укажите</h3>
    </div>
    <form class="form-inline" method="post" action="">
        {% csrf_token %}
        {% include "partials/forms/errors.html" %}

        <div class="row align-center">
            {% with form.month_year as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Когда{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            <div class="form-group" style="vertical-align: top;">
                <span>или</span>
            </div>

            {% with form.country as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Куда{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            {% with form.price_type as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Тип {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}
        </div>

        <div class="filter-form-header">
            <h3>Найдите компанию</h3>
        </div>

        <div class="row align-center">
            {% with form.gender as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Пол{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            <div style="display:inline-block; width: 50px;"></div>

            {% with form.age_from as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %} age_filter">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Возраст от{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}

            {% with form.age_to as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %} age_filter">
                        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                            Возраст до{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                        </label>
                        <div class="controls {{ field_class }}">
                            {% crispy_field field %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </div>
                </div>
            {% endwith %}
        </div>

        <div class="row align-center" style="padding-top:20px;">
            <a id="clear_form" href="{{ request.get_full_path }}?clear" class="btn btn-primary">Сбросить все</a>
        </div>

        <div class="filter-form-header">
            <h3>Подходят</h3>
        </div>

        {% with form.users as field %}
            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
            <div class="users-list">
                {% if form.users.field.choices.queryset|length %}
                <select id="{{ field.auto_id }}" class="image-picker show-html" name="users" style="display:none;">
                    <option value=""></option>
                    {% for choice in form.users.field.choices.queryset %}
                      <option data-img-src="{{ choice.get_avatar_url }}" value="{{choice.pk}}"
                      {%if choice in selected_users %} selected="selected"{%endif%}
                      >{{ choice.get_full_name }}</option>
                    {% endfor %}
                </select>
                <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
                <a class="next" id="foo2_next" href="#"><span>next</span></a>
                {% else %}
                    <h4 style="text-align: center;color:#A7A3A3;margin-top: 50px;">
                        Не найдено
                    </h4>
                {% endif %}
            </div>
        {% endwith %}



        <div id="trip-filter-submit" class="control-group align-center" style="margin-top:10px;">
          <div class="controls">
            <input type="submit" class="btn btn-primary" value="Подобрать"/>
          </div>
        </div>
    

        <div class="filter-form-header">
            <h3>Впишитесь в поездку!</h3>
            {% with form.category as field %}
                <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
                    <div class="controls {{ field_class }}">
                        {% crispy_field field %}
                        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                    </div>
                </div>
            {% endwith %}
        </div>
        {% include "trip/partials/trip_list.html" %}
    </form>
{% endblock content %}


{% block javascript %}
    {{ block.super }}

    <script src="{% static 'image-picker/image-picker.js' %}"></script>
    <script src="{% static 'caroufredsel/jquery.carouFredSel-6.2.1.js' %}"></script>
    <script src="{% static 'js/filter_update.js' %}"></script>

    <script type="text/javascript">

        $('#id_month_year').datepicker({
            format: "mm.yyyy",
            viewMode: "months",
            minViewMode: "months",
            clearBtn: true,
            autoclose: true
        }).on('changeDate', function (ev) {
            $('#{{form.country.auto_id}}').val('')
            $(this).post_form_on_change({given_date: ev.format});
        }).on('clearDate', function (ev) {
            $(this).post_form_on_change({given_date: ""});
        });


        $("#{{ form.users.auto_id }}").apply_image_picker_carousel();

        $( document ).ready(function() {
          $('#{{form.country.auto_id}}').change(function(){
            $('#id_month_year').val("").change();
            $(this).post_form_on_change();
          });
          $('#{{form.price_type.auto_id}}').change(function(){
            $(this).post_form_on_change();
          });
          $('#{{form.gender.auto_id}}').change(function(){
            $(this).post_form_on_change();
          });
          $('#{{form.age_from.auto_id}}').change(function(){
            $(this).post_form_on_change();
          });
          $('#{{form.age_to.auto_id}}').change(function(){
            $(this).post_form_on_change();
          });
          $('#clear_form').click(function(){
            $(this).post_form_on_change({clear_data: true})
            return false;
          });
          $('#trip-filter-submit').hide();
        });

    </script>


{% endblock javascript %}
