{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Создание поездки{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}Создать поездку{% endblock %}</h1>
            <form class="form-horizontal form-trip" method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Создать поездку"/>
                  </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $('#id_start_date').datepicker({
          format: 'dd.mm.yyyy',
          weekStart: 1
        });
        $('#id_end_date').datepicker({
          format: 'dd.mm.yyyy',
          weekStart: 1
        });
    </script>
{% endblock javascript %}
