{% extends "trip/trip_form.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Редактирование поездки{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'image-picker/image-picker.css' %}">
{% endblock css %}

    {% block header %}Редактировать поездку "{{trip.title}}"{% endblock %}

    {% block additional_fields %}
      {% with form.images_to_delete as field %}
        {% if field.field.choices.queryset|length %}
          <div class="trip_picture_list">
              <div style="font-weight: bold;margin-left: 16px;">Удалить фотографии:</div>
              {% include 'bootstrap3/layout/help_text_and_errors.html' %}
              <select id="{{ field.auto_id }}" class="image-picker show-html" name="{{field.name}}" multiple style="display:none;">
                  {% for choice in field.field.choices.queryset %}
                    <option data-img-src="{{ choice.file.url }}" value="{{choice.pk}}"
                    >{{ choice }}</option>
                  {% endfor %}
              </select>
          </div>
        {% endif %}
      {% endwith %}
    {% endblock additional_fields %}

    {% block submit_text %}Сохранить{% endblock %}
    {% block actions %}
        <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-primary">Удалить поездку</a>
    {% endblock actions %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'image-picker/image-picker.js' %}"></script>

    <script>
        $(".image-picker").imagepicker({
          hide_select : true,
          show_label  : false,
        })
    </script>
{% endblock javascript %}
