{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load model_verbose %}
{% load thumbnail %}

{% block title %}Детали поездки{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'image-picker/image-picker.css' %}">
{% endblock css %}

{% block content %}

  {% if request.user == trip.owner %}
    <div class="row">
      <a href="{% url 'trip_update' trip.pk %}" class="btn btn-primary pull-right">Редактировать</a>
    </div>
  {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="align-center">{% block header %}Поездка "{{ trip.title }}"{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <table class="table trip-details-table">
            <tbody>
                  <tr>
                    <td>Даты</td>
                    <td>{{ trip.start_date_format }} - {{ trip.end_date_format }}</td>
                  </tr>
                  <tr>
                    <td>Страна</td>
                    <td>{{ trip.city.country }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"city" }}</td>
                    <td>{{ trip.city.name }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"category" }}</td>
                    <td>{{ trip.category }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"price" }}</td>
                    <td>{{ trip.price }} {{ trip.get_currency_display }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"price_type" }}</td>
                    <td>{{ trip.get_price_type_display }}</td>
                  </tr>
                  {% if trip.is_noncom %}
                      <tr>
                        <td>Цена на одного человека (с учетом набранных заявок)</td>
                        <td>{{ trip.price_for_one_person }} {{ trip.get_currency_display }}</td>
                      </tr>
                  {% endif %}
                  <tr>
                    <td>{{ trip|field_verbose:"includes" }}</td>
                    <td>{{ trip.includes }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"people_count" }}</td>
                    <td>{{ trip.people_count }}</td>
                  </tr>
                  <tr>
                    <td>{{ trip|field_verbose:"end_people_date" }}</td>
                    <td>{{ trip.end_people_date_format }}</td>
                  </tr>
                  <tr>
                    <td>До окончания набора осталось дней</td>
                    <td>{{ trip.invite_days_left }}</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>Набрано заявок</td>
                    <td>{{ trip.count_all_people }}</td>
                  </tr>
                  <tr>
                    <td>Осталось свободных мест</td>
                    <td>{{ trip.count_free_slots }}</td>
                  </tr>
                  <tr>
                    <td>Описание</td>
                    <td>{{ trip.descr_main }}</td>
                  </tr>
                  {% if trip.descr_share %}
                    <tr>
                      <td>Разделяем</td>
                      <td>{{ trip.descr_share }}</td>
                    </tr>
                  {% endif %}
                  {% if trip.descr_additional %}
                  <tr>
                    <td>Доп. информация</td>
                    <td>{{ trip.descr_additional }}</td>
                  </tr>
                  {% endif %}
                  {% if trip.descr_company %}
                  <tr>
                    <td>Кого хотели бы видеть в компании</td>
                    <td>{{ trip.descr_company }}</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td>{{ trip|field_verbose:"trip_type" }}</td>
                    <td>{{ trip.get_trip_type_display }}</td>
                  </tr>
              <tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="margin-bottom:20px;">
        <div id="gallery">
            {% for img in trip.images.all %}
            <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
              <a class="thumbnail" href="{{img.file.url}}" data-lightbox="roadtrip">
                {% thumbnail img.file "x180" as im %}
                  <img src="{{im.url}}" style="height:180px; display: block;">
                {% endthumbnail %}
              </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% with trip.people.all as trip_members %}
      <div class="row" style="margin-bottom:20px;">
        <h2 class="align-center">Участники</h2>
      </div>
      <div class="row">
        <div class="users-list">
          <ul class="thumbnails image_picker_selector">
            {% for member in trip_members %}
              <li>
                <div class="thumbnail">
                  <a href="{{member.get_absolute_url}}">
                  <div class="image_picker_image_wrapper">
                    <img class="image_picker_image" src="{{member.get_avatar_url}}">
                  </div>
                  <div class="image_picker_descr">{{member.get_full_name}}</div>
                  </a>
                </div>
              </li>
            {% endfor %}
          </ul>
          <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
          <a class="next" id="foo2_next" href="#"><span>next</span></a>
        </div>
      </div>
    {% endwith %}

    <div class="row">
        <form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group create-submit align-center">
              <div class="controls">
                <button name="action" type="submit"
                {% if trip.is_finished %}
                  value="" class="btn btn-default" disabled>Поездка завершена
                {% elif trip.is_now %}
                  value="" class="btn btn-default" disabled>Поездка уже началась
                {% elif user_in %}
                  value="" class="btn btn-success" disabled>Вы участвуете в поездке
                {% elif user_has_request %}
                  value="" class="btn btn-warning" disabled>Вы подали заявку на поездку
                {% else %}
                  value="submit" class="btn btn-primary">Подать заявку на поездку
                {% endif %}
              </button>
                {% if trip.is_future %}
                  {% if user_in %}
                    <button name="action" type="submit" class="btn btn-primary" value="cancel">Отменить участие</button>
                  {% elif user_has_request %}
                    <button name="action" type="submit" class="btn btn-primary" value="cancel">Отменить заявку</button>
                  {% endif %}
                {% endif %}
              </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block javascript %}
    {{ block.super }}

    <script src="{% static 'lightbox/js/lightbox-2.6.min.js' %}"></script>
    <script src="{% static 'caroufredsel/jquery.carouFredSel-6.2.1.js' %}"></script>
    <script src="{% static 'js/filter_update.js' %}"></script>

    <script type="text/javascript">
      $( window ).ready(function() {
        $('.thumbnails').apply_carousel();
      });
    </script>
{% endblock javascript %}
