{% extends "base.html" %}

{% block content %}
  
  <div class="blog-page require-js-app" data-params='{"name":"blogPost"}'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-layout">
            <div class="content-layout-block">

              <div class="general-block breadcrumbs-block border-b">
                <ol class="breadcrumb">
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Статьи</a></li>
                  <li class="active">Чем заняться на Гавайях</li>
                </ol>
              </div>

              <div class="general-block header-block">
                <h1>Чем заняться на Гавайях</h1>
              </div>

              <div class="general-block tags-block">
                <div class="tags tags-big-layout">
                  <div class="items">
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Экскурсия</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Походы</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Активный отдых</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Пляжный отдых</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Тарзанка</a>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="general-block gallery-block clearfix">

                <div class="fotorama">
                  <img src="/static/img/promo/trips/photo-1.jpg" width="600" height="399">
                  <img src="/static/img/promo/trips/photo-2.jpg" width="604" height="400">
                  <img src="/static/img/promo/trips/photo-3.jpg" width="761" height="400">
                  <img src="/static/img/promo/trips/photo-4.jpg" width="600" height="565">
                </div>

              </div>

              <div class="desc-block border-b">
                <div>
                  <p>На Гавайях серфинг будет включен в школьную программу. Ученики государственных школ смогут выбирать изучение серфинга на уроках спорта начиная с весны 2012 года.</p>
                  <p>Когда вы думаете о Гавайях, вы думаете о серфинге — пояснил губернатор решение включить этот вид спорта в школьную программу. Гавайи родина серфинга, напомнил Эберкромби, «этот вид спорта глубоко укоренен в нашей культуре и образе жизни».</p>
                  <p>На Гавайях серфинг будет включен в школьную программу. Ученики государственных школ смогут выбирать изучение серфинга на уроках спорта начиная с весны 2012 года.</p>
                  <p>Когда вы думаете о Гавайях, вы думаете о серфинге — пояснил губернатор решение включить этот вид спорта в школьную программу. Гавайи родина серфинга, напомнил Эберкромби, «этот вид спорта глубоко укоренен в нашей культуре и образе жизни».</p>
                </div>
              </div>

              <!-- <div class="items">

                <div class="item">
                  <div class="general-block item-header-block">
                    <a href="javascript:void(0)">Чем заняться на Гавайях</a>
                    <div class="date">13 октября 2013</div>
                  </div>

                  <div class="general-block tags-block">
                    <div class="tags">
                      <a href="javascript:void(0)" class="tag" data-id="17">Экскурсия</a>
                      <a href="javascript:void(0)" class="tag" data-id="17">Итальянский язык</a>
                    </div>
                  </div>

                  <div class="general-block gallery-block clearfix">
                    <div class="main-img">
                      <img src="/static/img/promo/blog/blog-1.jpg"/>
                    </div>
                  </div>

                  <div class="desc-block border-b">
                    <div>
                      <p>На Гавайях серфинг будет включен в школьную программу. Ученики государственных школ смогут выбирать изучение серфинга на уроках спорта начиная с весны 2012 года.</p>
                      <p>Когда вы думаете о Гавайях, вы думаете о серфинге — пояснил губернатор решение включить этот вид спорта в школьную программу. Гавайи родина серфинга, напомнил Эберкромби, «этот вид спорта глубоко укоренен в нашей культуре и образе жизни».</p>
                    </div>
                  </div>
                </div>

              </div> -->

            </div>
          </div>

          <div class="side-layout">
            <div class="side-panel">
              
              <div class="sections-block border-b">
                <div class="title">Разделы <a href="#">блога</a></div>
                <ul class="items">
                  <li class="item">
                    <a href="#">Новости сайта</a>
                  </li>
                  <li class="item">
                    <a href="#">Советы</a>
                  </li>
                  <li class="item">
                    <a href="#">Рассказы</a>
                  </li>
                </ul>
              </div>

              <div class="tags-block border-b">
                <div class="title">Теги</div>
                <div class="tags tags-big-layout">
                  <div class="items">
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Экскурсия</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Походы</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Активный отдых</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Яхтинг</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Пляжный отдых</a>
                    </div>
                    <div class="item">
                      <a href="javascript:void(0)" class="tag" data-id="">Тарзанка</a>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
