{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Профиль: {{ user.username }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}Ваши данные:{% endblock %}</h1>
            {{ user.get_avatar }}
            <form class="form-horizontal form-profile" method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <!--<button type="submit" class="btn">Update</button>-->
                  </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
