{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Личный кабинет: {{ user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="align-center">Личный кабинет ({{ user.get_full_name }})</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <a href="{% url 'users:detail' user.pk %}" class="btn btn-primary">Ваши данные</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="align-center">Заявки, требующие рассмотрения:</h2>
        </div>
        {% if user.trip_requests|length %}
            {% include "trip/partials/triprequest_list.html" with trip_requests=user.trip_requests %}
        {% else %}
            <h3 class="blank-message">нет</h3>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="align-center">Ваши заявки:</h2>
        </div>
        {% if user.outgoing_trip_requests|length %}
            {% include "trip/partials/outgoing_request_list.html" with trip_requests=user.outgoing_trip_requests %}
        {% else %}
            <h3 class="blank-message">нет</h3>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="align-center">Участник в поездках:</h2>
        </div>
        {% if user.trips_in|length %}
            {% include "trip/partials/trip_list.html" with trips=user.trips_in show_exit=True %}
        {% else %}
            <h3 class="blank-message">нет</h3>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="align-center">Созданные поездки:</h2>
        </div>
        {% if user.trips_created|length %}
            {% include "trip/partials/trip_list.html" with trips=user.trips_created show_status=True show_edit=True %}
        {% else %}
            <h3 class="blank-message">нет</h3>
        {% endif %}
    </div>

{% endblock %}
