<div class="tabs-container">
  <div class="trigger-items">
    <div class="item active" data-tab-id="1">
      Суть
    </div><div class="item" data-tab-id="2">
      Карта
    </div><div class="item" data-tab-id="3">
      Питание и проживание
    </div>
  </div>

  <div class="tab-block" data-id="1">
    <div class="desc-block">
      <div>
        <p>На Гавайях серфинг будет включен в школьную программу. Ученики государственных школ смогут выбирать изучение серфинга на уроках спорта начиная с весны 2012 года.</p>
        <div class="video-block">
          <iframe width="598" height="315" src="//www.youtube.com/embed/gEPmA3USJdI?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Когда вы думаете о Гавайях, вы думаете о серфинге — пояснил губернатор решение включить этот вид спорта в школьную программу. Гавайи родина серфинга, напомнил Эберкромби, «этот вид спорта глубоко укоренен в нашей культуре и образе жизни».</p>
      </div>
    </div>

    <div class="big-blue-block">
      Уже через неделю вы будете уверенно стоять на доске и плыть верхом на волнах гавайского пляжа.
    </div>

    <div class="desc-block">
      <div class="subtitle">Дополнительные расходы</div>
      <p>Перелёт в среднем <strong>от 1000 евро</strong>, билеты по ссылке справа. Еда и сувениры — около 100 евро на человека, там всё дешево.</p>
      <div class="subtitle">Что нам нравится</div>
      <ul class="list-items">
        <li>
          <span>Варианты с жильём</span>
        </li>
        <li>
          <span>Инструктор по сёрфу</span>
        </li>
        <li>
          <span>Достопримечательности Гонолулу</span>
        </li>
      </ul>
    </div>
  </div>

</div>