body
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size 100%
  vertical-align baseline

  line-height 1
  color #000
  background #f6f6f6
  font-family Helvetica, Arial, Tahoma, sans-serif

  //background-image url("/static/img/divvy.travel.png")
  //background-image url("/static/img/ui.png")
  //height 4000px
