.footer
  .footer-links
    height 32px
    padding-top 18px
    background #50c3e0
    text-align center
    border-bottom 1px solid rgba(255, 255, 255, 0.4)
    
    a
      margin 0px 13px 0px 13px
      font-family pragmatica-web
      font-weight 200
      font-size 15px

  .footer-copyright
    height 50px
    padding-top 20px
    background #31b9da
    text-align center
    color white
    font-size 13px
    
    .footer-copyright-design
      line-height 22px
      opacity 0.3

      a
        text-decoration underline
        color #ffffff
