.promo
  height 600px
  background-image url("/static/img/promo.jpg")

  //opacity 0.7

  .header-color-layout
    position absolute
    top 0px
    left 0px
    width 100%
    height 72px
    background white
    opacity 0.15
    z-index 0

  .header
    background transparent
    box-shadow 1px 1px 1px #a7d8e1

    .header-wrap
      position relative
      z-index 1
      
      .header-nav-item
        color black

        &:hover
          background rgba(255, 255, 255, 0.2)
          
        &.active
          background rgba(255, 255, 255, 0.4)

  .promo-content
    width 700px
    margin 0 auto
    font-family pragmatica-web
    text-align center

    a
      color #008cae
      font-weight 200

    .promo-content-title
      margin 30px 0px 10px 0px
      font-weight 200
      font-size 33px
      line-height 42px

    .promo-content-description
      font-weight 300
      font-size 21px
      line-height 27px
      color #2c3c3c
