.sidebar
  float left
  width 324px
  margin-top 18px
  margin-bottom 18px
  margin-left 18px
  padding 16px 0px
  background white
  border-radius 5px
  box-shadow 0px 1px 5px rgb(200, 200, 200)

  .title
    margin-left 18px
    margin-right 18px

.sidebar--type-right
  float right
  padding 0px
