.ui
  &.opacity
    opacity 1

  .promo
    height 73px
    margin-bottom 1px

  .container
    position relative

    .elements
      padding 16px 17px 0px 17px

    .fields
      @clearfix()

      .fields-cell
        float left
        width 180px
        margin-bottom 12px
        margin-right 18px
        list-style none

      .fields-cell-middle
        width 256px

      .fields-cell-right
        position relative

        .fields-cell-right-container
          position absolute
          top 6px
          width 167px

    .categories
      width 622px
      height 44px
      margin-top 40px
      padding 18px 25px 0px
      background white
